@import './base.css';

#app {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0 24px 24px;
  box-sizing: border-box;
  min-height: 100vh;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  #app {
    padding: 0 24px 24px;
  }
}

@media (max-width: 768px) {
  #app {
    padding: 0 12px 16px;
  }
}
